<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
    <h1>Create a Basketball Team</h1>
    <form action="/team" method="POST">
      Team Name:      <input type="text" name="TN"><br><br>
      Coach:          <input type="text" name="coach"><br><br>
      Point Guard:    <input type="text" name="PG"><br><br>
      Shooting Guard: <input type="text" name="SG"><br><br>
      Small Forward:  <input type="text" name="SF"><br><br>
      Power Forward : <input type="text" name="PF"><br><br>
      Center:         <input type="text" name="center"><br><br>
      <input type="submit" id="Submit">

    </form>
 </head>
 <body>
 </body>
</html>
